.about {
    display: flex;
    margin-left: -30px;
}

.about-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.about__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.about__product-thumb {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
}

.about__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
}