

.products__pre-title {
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;

    color: #FFA5BA;
}

.products__title {
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
}