:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #e5e5e5;
    --primary-white-color: #ffffff;
    --white-alpha-color: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #2f303a;
    --staff-bg-color: #f5f4fa;
    --second-accent-color: #188ce8;
    --primary-icon-color: #AFB1B8;
    --section-gap: 94px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}